.LStart{

}


﻿#sideBar {
    position: fixed;
    top: 58px;
    bottom: 60px;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 180px;
    z-index: 600;
}

#innerSideBar {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
    gap: 15px;
}

    #innerSideBar > a:hover {
        background-color: dimgray;
        color: white;
    }


    #innerSideBar > a:active {
        background-color: lightgray;
        color: black;
    }

a > i {
    font-size: 1.2em;
}

a {
    text-decoration: none !important;
}

.aColor {
    color: black;
}
