﻿.rgba-primary-0 {
    color: rgba( 49, 59,116,1)
}
/* Main Primary color */
.rgba-primary-1 {
    color: rgba( 16, 37,144,1)
}

.rgba-primary-2 {
    color: rgba( 18, 24, 54,1)
}

.rgba-primary-3 {
    color: rgba(151,152,161,1)
}

.rgba-primary-4 {
    color: rgba( 67, 86,184,1)
}
