@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <ul>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Agendemento" asp-action="Index">Agendemento</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Auditoria" asp-action="Index">Auditoria</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Projeto" asp-action="Index">Projeto</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Setor" asp-action="Index">Setor</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Tarefa" asp-action="Index">Tarefa</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="TarefaTemplate" asp-action="Index">TarefaTemplate</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Template" asp-action="Index">Template</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuario</a></li>        
    </ul>

</div>
