@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    <ul>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Index" asp-action="Privacy">Agendemento</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Index" asp-action="Privacy">Auditoria</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Index" asp-action="Privacy">Projeto</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Index" asp-action="Privacy">Setor</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Index" asp-action="Privacy">Tarefa</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Index" asp-action="Privacy">TarefaTemplate</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Index" asp-action="Privacy">Template</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Index" asp-action="Privacy">Usuario</a></li>        
    </ul>

</div>
