@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>

<div>
    <form>
        <h3>Login</h3>
        <div>
            <label>Logon</label>
            <input type="text" name="logon" />
        </div>
        <div>
            <label>Senha</label>
            <input type="password" name="senha" />
        </div>
        <div>
            <button>Entrar</button>
        </div>
    </form>
</div>


<body>
</body>
</html>
