@model IEnumerable<GigaVistor.Models.SetorModel>


<h1>View</h1>

<p>
    <a asp-action="Create">Cria novo Setor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Setor
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="DeletePage" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
